/* Istruzioni generali */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.container-70 {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* /Istruzioni generali */

/* Header */
.header-top {
  height: 80px;
  width: 100vw;
  background-color: #EAF0F6;
  border-bottom: 1px solid #425B76;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/* header-top-left */
.header-top-left {
  height: 100%;
  width: 50%;
  float: left;
}

.list-left {
  height: 100%;
  line-height: 80px;
  list-style: none;
}
.list-left li {
  display: inline-block;
  height: 100%;
}
.list-left a {
  text-decoration: none;
  color: #33475B;
}
.list-left a:hover {
  text-decoration: underline;
}

#language {
  padding-right: 10px;
  border-right: 1px solid #33475B;
}
#contact-us {
  padding-left: 10px;
}
/* /header-top-left */

/* header-top-right */
.header-top-right {
  height: 100%;
  width: 50%;
  float: left;
}

.list-right {
  height: 100%;
  line-height: 80px;
  list-style: none;
  text-align: right;
}
.list-right li {
  display: inline-block;
  height: 100%;
}
.list-right i {
  cursor: pointer;
  color: #2DB4C9;
}
.list-right a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

#log-in {
  color: #FF7A59;
  background-color: white;
  border: 1px solid #FF7A59;
}
#get-hubspot-free {
  color: white;
  background-color: #FF7A59;
}
.list-right li:hover #log-in {
  background-color: #FFF1EE;
}
.list-right li:hover #get-hubspot-free {
  background-color: #FFBCAC;
}
/* /header-top-right */

.header-bottom {
  height: 80px;
  width: 100vw;
  background-color: white;
  margin-top: 80px;
}

.header-bottom-left {
  height: 100%;
  width: 50%;
  float: left;
  line-height: 80px;
}
.header-bottom-left img {
  margin-top: 25px;
}

/* header-bottom-right */
.header-bottom-right {
  height: 100%;
  width: 50%;
  float: left;
}

#menu {
  list-style: none;
  height: 100%;
  line-height: 80px;
  text-align: right;
}
#menu li {
  display: inline-block;
  height: 100%;
  margin-left: 10px;
  cursor: pointer;
  color: #33475B;
}
#menu a {
  text-decoration: none;
  color: #33475B;
}
#menu a:hover {
  text-decoration: underline;
}
/* /header-bottom-right */
/* /Header */

/* Main */
/* Section 1 */
.section-1 {
  height: 695px;
  width: 100vw;
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid #33475C;
}

.section-1-left {
  height: 100%;
  width: 50%;
}
.section-1-left h1 {
  padding-top: 60px;
  color: #33475B;
  font-size: 50px;
}
.section-1-left p {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #33475B;
  line-height: 30px;
}
.section-1-left a {
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  background-color: #FF7A59;
  color: white;
}
.section-1-left a:hover {
  background-color: #FFBCAC;
}
/* /Section 1 */

/* Section 2 */
.section-2 {
  width: 100vw;
  background-color: #EAF0F6;
  color: #33475B;
}

/* section-2-top */
.section-2-top {
  text-align: center;
}

.section-2-top img {
  height: 150px;
  margin-top: 60px;
}
.section-2-top h2 {
  margin-bottom: 40px;
}
.section-2-top p {
  margin-bottom: 60px;
  line-height: 30px;
}
/* /section-2-top */

/* section-2-center */
.section-2-center {
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
}

.section-2-center-left {
  width: 30%;
  text-align: center;
  padding: 50px 70px;
  float: left;
}

.section-2-center-left img {
  height: 100px;
  margin-bottom: 30px;
}
.section-2-center-left a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FF7A59;
  color: white;
}
.section-2-center-left a:hover {
  background-color: #FFBCAC;
}

.section-2-center-right {
  width: 70%;
  text-align: left;
  padding: 50px;
  padding-left: 0;
  padding-right: 80px;
  float: left;
}

.section-2-center-right h2 {
  margin-bottom: 30px;
}
.section-2-center-right p {
  margin-bottom: 20px;
  line-height: 30px;
}
.section-2-center-right h3 {
  display: inline-block;
  text-transform: uppercase;
}
.section-2-center-right hr {
  width: 400px;
  display: inline-block;
  vertical-align: super;
  margin: 0 40px;
}
.section-2-center-right li {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  margin-right: 20px;
}
.section-2-center-right i {
  color: #FF7A59;
}
/* /section-2-center */

/* section-2-bottom */
.section-2-bottom-left, .section-2-bottom-right {
  width: 30%;
  text-align: center;
  background-color: white;
  margin-top: 20px;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  float: left;
}

.section-2-bottom-center {
  width: 30%;
  text-align: center;
  background-color: white;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  float: left;
}

.section-2-bottom img {
  height: 100px;
  margin-top: 20px;
}
.section-2-bottom h2 {
  margin-top: 40px;
}
.section-2-bottom p {
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 30px;
}
.section-2-bottom h3 {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-2-bottom ul {
  list-style: none;
  text-align: left;
  margin-bottom: 60px;
}
.section-2-bottom i {
  color: #FF7A59;
}
.section-2-bottom a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FF7A59;
  color: white;
}
.section-2-bottom a:hover {
  background-color: #FFBCAC;
}
/* /section-2-bottom */
/* /Section 2 */

/* Section 3 */
.section-3 {
  width: 100vw;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #00ABB6, #00BAA7);
}

.section-3-top h2 {
  padding: 40px;
  padding-bottom: 0;
  font-size: 30px;
}
.section-3-top p {
  padding: 40px 0;
  line-height: 30px;
}

/* section-3-bottom */
.section-3-bottom-1, .section-3-bottom-2, .section-3-bottom-3 {
  width: 25%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px;
  float: left;
}

.section-3-bottom-4 {
  width: 25%;
  border-bottom: 1px solid white;
  padding: 20px;
  float: left;
}

.section-3-bottom-5, .section-3-bottom-6, .section-3-bottom-7 {
  width: 25%;
  border-right: 1px solid white;
  padding: 20px;
  margin-bottom: 60px;
  float: left;
}

.section-3-bottom-8 {
  width: 25%;
  padding: 20px;
  margin-bottom: 60px;
  float: left;
}

.section-3-bottom-5 img {
  height: 30px;
}

[class^=section-3-bottom] h2 {
  font-size: 40px;
}
[class^=section-3-bottom] i {
  font-size: 15px;
  vertical-align: middle;
}
/* /section-3-bottom */
/* /Section 3 */

/* Section 4 */
.section-4 {
  width: 100vw;
  background-color: white;
  color: #33475B;
}

.section-4-top-left {
  width: 39.5%;
  padding-top: 40px;
  padding-left: 60px;
  display: inline-block;
}

.section-4-top-right {
  width: 60%;
  display: inline-block;
}

.section-4-bottom-left {
  width: 39.5%;
  padding-top: 50px;
  display: inline-block;
}

.section-4-bottom-right {
  width: 60%;
  text-align: right;
  display: inline-block;
}

.section-4-top-left h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.section-4-top-left p {
  line-height: 30px;
}

.section-4-top-right img {
  height: 25px;
  margin: 15px;
  display: inline-block;
}

.section-4-bottom-left h2 {
  margin: 30px 0;
  font-size: 30px;
}
.section-4-bottom-left p {
  margin: 30px 0;
  line-height: 30px;
}
.section-4-bottom-left a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #FF7A59;
  color: white;
}
.section-4-bottom-left a:hover {
  background-color: #FFBCAC;
}

.section-4-bottom-right img {
  height: 350px;
}
/* /Section 4 */
/* /Main */

/* Footer */
.footer {
  width: 100vw;
  background-color: #2D3E50;
  color: white;
}

.footer ul {
  list-style: none;
  color: #EAF0F6;
}
.footer a {
  text-decoration: none;
  color: #EAF0F6;
}
.footer a:hover {
  text-decoration: underline;
  color: #7FD1DE;
}

[class^=footer-top] {
  width: 25%;
  margin-top: 40px;
  line-height: 40px;
  float: left;
}
.footer-top-4 {
  margin-bottom: 40px;
}

#contact-support {
  text-decoration: none;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  color: #2D3E50;
}
#contact-support:hover {
  background-color: #EAF0F6;
}

.footer-top-4 > ul > li >ul >li {
  display: inline-block;
  margin-right: 20px;
}

.footer-bottom-1 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid white;
}
.footer-bottom-1 li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.footer-bottom-2-left {
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
  float: left;
}

.footer-bottom-2-right {
  width: 50%;
  margin-top: 40px;
  text-align: right;
  float: left;
}
.footer-bottom-2-right li {
  display: inline-block;
}
.footer-bottom-2-right li:last-child {
  margin-left: 20px;
}
/* /Footer */
