/* Istruzioni generali */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.container-70 {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* /Istruzioni generali */

/* Header */
.header-top {
  height: 80px;
  width: 100vw;
  background-color: #EAF0F6;
  border-bottom: 1px solid #425B76;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/* header-top-left */
.header-top-left {
  height: 100%;
  width: 50%;
  float: left;
}

.list-left {
  height: 100%;
  line-height: 80px;
  list-style: none;
}
.list-left li {
  display: inline-block;
  height: 100%;
}
.list-left a {
  text-decoration: none;
  color: #33475B;
}
.list-left a:hover {
  text-decoration: underline;
}

#language {
  padding-right: 10px;
  border-right: 1px solid #33475B;
}
#contact-us {
  padding-left: 10px;
}
/* /header-top-left */

/* header-top-right */
.header-top-right {
  height: 100%;
  width: 50%;
  float: left;
}

.list-right {
  height: 100%;
  line-height: 80px;
  list-style: none;
  text-align: right;
}
.list-right li {
  display: inline-block;
  height: 100%;
}
.list-right i {
  cursor: pointer;
  color: #2DB4C9;
}
.list-right a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

#log-in {
  color: #FF7A59;
  background-color: white;
  border: 1px solid #FF7A59;
}
#get-hubspot-free {
  color: white;
  background-color: #FF7A59;
}
.list-right li:hover #log-in {
  background-color: #FFF1EE;
}
.list-right li:hover #get-hubspot-free {
  background-color: #FFBCAC;
}
/* /header-top-right */

.header-bottom {
  height: 80px;
  width: 100vw;
  background-color: white;
  margin-top: 80px;
}

.header-logo {
  height: 100%;
  width: 50%;
  float: left;
  line-height: 80px;
}
.header-logo img {
  margin-top: 25px;
}

/* header-nav */
.header-nav {
  height: 100%;
  width: 50%;
  float: left;
}

#menu {
  list-style: none;
  height: 100%;
  line-height: 80px;
  text-align: right;
}
#menu li {
  display: inline-block;
  height: 100%;
  margin-left: 10px;
  cursor: pointer;
  color: #33475B;
}
#menu a {
  text-decoration: none;
  color: #33475B;
}
#menu a:hover {
  text-decoration: underline;
}
/* /header-nav */
/* /Header */

/* Main */
/* Section 1 */
.section-1 {
  height: 695px;
  width: 100vw;
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid #33475C;
}

.section-1-left {
  height: 100%;
  width: 50%;
}
.section-1-left h1 {
  padding-top: 60px;
  color: #33475B;
  font-size: 50px;
}
.section-1-left p {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #33475B;
  line-height: 30px;
}
.section-1-left a {
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  background-color: #FF7A59;
  color: white;
}
.section-1-left a:hover {
  background-color: #FFBCAC;
}
/* /Section 1 */

/* Section 2 */
.section-2 {
  width: 100vw;
  background-color: #EAF0F6;
  color: #33475B;
}

/* section-2-top */
.section-2-top {
  text-align: center;
}

.section-2-top img {
  height: 150px;
  margin-top: 60px;
}
.section-2-top h2 {
  margin-bottom: 40px;
}
.section-2-top p {
  margin-bottom: 60px;
  line-height: 30px;
}
/* /section-2-top */

/* section-2-crm */
.section-2-crm {
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
}

.img-crm {
  width: 30%;
  text-align: center;
  padding: 50px 70px;
  float: left;
}

.img-crm img {
  height: 100px;
  margin-bottom: 30px;
}
.img-crm a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FF7A59;
  color: white;
}
.img-crm a:hover {
  background-color: #FFBCAC;
}

.hubspot-crm {
  width: 70%;
  text-align: left;
  padding: 50px;
  padding-left: 0;
  padding-right: 80px;
  float: left;
}

.hubspot-crm h2 {
  margin-bottom: 30px;
}
.hubspot-crm p {
  margin-bottom: 20px;
  line-height: 30px;
}
.hubspot-crm h3 {
  display: inline-block;
  text-transform: uppercase;
}
.hubspot-crm hr {
  width: 400px;
  display: inline-block;
  vertical-align: super;
  margin: 0 40px;
}
.hubspot-crm li {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  margin-right: 20px;
}
.hubspot-crm i {
  color: #FF7A59;
}
/* /section-2-crm */

/* section-2-cards */
.card {
  width: 30%;
  text-align: center;
  background-color: white;
  margin-top: 20px;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  float: left;
}
#margin {
  margin-left: 5%;
  margin-right: 5%;
}

.section-2-cards img {
  height: 100px;
  margin-top: 20px;
}
.section-2-cards h2 {
  margin-top: 40px;
}
.section-2-cards p {
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 30px;
}
.section-2-cards h3 {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-2-cards ul {
  list-style: none;
  text-align: left;
  margin-bottom: 60px;
}
.section-2-cards i {
  color: #FF7A59;
}
.section-2-cards a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FF7A59;
  color: white;
}
.section-2-cards a:hover {
  background-color: #FFBCAC;
}
/* /section-2-cards */
/* /Section 2 */

/* Section 3 */
.section-3 {
  width: 100vw;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #00ABB6, #00BAA7);
}

.section-3-top h2 {
  padding: 40px;
  padding-bottom: 0;
  font-size: 30px;
}
.section-3-top p {
  padding: 40px 0;
  line-height: 30px;
}

/* section-3-numbers */
.number {
  width: 25%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px;
  float: left;
}
.border-right {
  border-right: none;
}
.border-bottom {
  border-bottom: none;
}
.margin-bottom {
  margin-bottom: 60px;
}

.number h2 {
  font-size: 40px;
}
.number i {
  font-size: 15px;
  vertical-align: middle;
}

#HubSpot-App-Marketplace img {
  height: 30px;
}
/* /section-3-numbers */
/* /Section 3 */

/* Section 4 */
.section-4 {
  width: 100vw;
  background-color: white;
  color: #33475B;
}

.box-left {
  width: 39.5%;
  display: inline-block;
}
.box-right {
  width: 60%;
  display: inline-block;
}

#customers {
  padding-top: 40px;
  padding-left: 60px;
}
#customers h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
#customers p {
  line-height: 30px;
}

#brands img {
  height: 25px;
  margin: 15px;
  display: inline-block;
}

#growing-with-hubspot {
  padding-top: 50px;
}
#growing-with-hubspot h2 {
  margin: 30px 0;
  font-size: 30px;
}
#growing-with-hubspot p {
  margin: 30px 0;
  line-height: 30px;
}
#growing-with-hubspot a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #FF7A59;
  color: white;
}
#growing-with-hubspot a:hover {
  background-color: #FFBCAC;
}

#woman {
  text-align: right;
}
#woman img {
  height: 350px;
}
/* /Section 4 */
/* /Main */

/* Footer */
.footer {
  width: 100vw;
  background-color: #2D3E50;
  color: white;
}

.footer ul {
  list-style: none;
  color: #EAF0F6;
}
.footer a {
  text-decoration: none;
  color: #EAF0F6;
}
.footer a:hover {
  text-decoration: underline;
  color: #7FD1DE;
}

/* columns */
.column {
  width: 25%;
  margin-top: 40px;
  line-height: 40px;
  float: left;
}
#last-column {
  margin-bottom: 40px;
}

#contact-support {
  text-decoration: none;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  color: #2D3E50;
}
#contact-support:hover {
  background-color: #EAF0F6;
}

#social-icons > li {
  display: inline-block;
  margin-right: 20px;
}
/* /columns */

/* footer-bottom */
.languages {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid white;
}
.languages li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.credits {
  width: 50%;
  margin-top: 40px;
  float: left;
}
#logo {
  margin-bottom: 40px;
}
#info {
  text-align: right;
}
#info li {
  display: inline-block;
}
#info li:last-child {
  margin-left: 20px;
}
/* /footer-bottom */
/* /Footer */
